#uslugi
section.enjoy
    .container
        .row
            .col-12.col-md-11.offset-md-1
                h2.enjoy__caption Наслаждайтесь моментом!
                .enjoy__text.body1
                    | Вопросы по&nbsp;организации мы&nbsp;с&nbsp;радостью возьмем на&nbsp;себя.<br>
                    | С&nbsp;уверенностью можем сказать, что готовы выполнить любое ваше пожелание.
        .row.justify-content-center
            .col-8.col-md-5.col-lg-3.offset-md-1.enjoy__item
                .enjoy__img-box
                    img.enjoy__img(src=require('../../svg/ico1.svg'), alt="Романтический вечер")
                .enjoy__text.body1
                    | Романтический вечер или незабываемая ночь<br>
                    | <strong>2&nbsp;варианта на&nbsp;выбор</strong>
            .col-8.col-md-5.col-lg-3.offset-md-1.enjoy__item
                .enjoy__img-box
                    img.enjoy__img(src=require('../../svg/ico2.svg'), alt="Красивый вид")
                .enjoy__text.body1
                    | Вид на&nbsp;лучшие
                    | достопримечательности
                    | столицы<br>
                    | <strong>с&nbsp;51&nbsp;этажа</strong>
            .col-8.col-md-5.col-lg-3.offset-md-1.enjoy__item
                .enjoy__img-box
                    img.enjoy__img(src=require('../../svg/ico3.svg'), alt="Ощущение полета")
                .enjoy__text.body1
                    | Ощущение полёта
                    | и&nbsp;панорама<br>
                    | <strong>с&nbsp;углом обзора&nbsp;240&deg;</strong>
            .col-8.col-md-5.col-lg-3.offset-md-1.enjoy__item
                .enjoy__img-box
                    img.enjoy__img(src=require('../../svg/ico4.svg'), alt="Неповторимая атмосфера")
                .enjoy__text.body1
                    | Услуги команды<br>
                    | <strong>33&nbsp;профессионалов</strong><br>
                    | которые создадут
                    | неповторимую атмосферу
            .col-8.col-md-5.col-lg-3.offset-md-1.enjoy__item
                .enjoy__img-box
                    img.enjoy__img(src=require('../../svg/ico5.svg'), alt="Волшебство мгновения")
                .enjoy__text.body1
                    | <strong>30&nbsp;обработанных фото</strong><br>
                    | сохранят волшебство
                    | каждого мгновения<br>(30-40&nbsp;фото)