section.enjoy
    .container
        .row
            .col-12.col-md-11.offset-md-1
                h2.enjoy__caption Наслаждайтесь моментом!
                .enjoy__text.body1
                    | Вопросы по организации мы с радостью возьмем на себя.<br>
                    | С уверенностью можем сказать, что готовы выполнить любое ваше пожелание.
        .row.justify-content-center
            .col-8.col-md-5.col-lg-3.offset-md-1.enjoy__item
                .enjoy__img-box
                    img.enjoy__img(src=require('../../svg/ico1.svg'), alt="Романтический вечер")
                .enjoy__text.body1
                    | Романтический вечер или незабываемая ночь<br>
                    | <strong>2 варианта на выбор</strong>
            .col-8.col-md-5.col-lg-3.offset-md-1.enjoy__item
                .enjoy__img-box
                    img.enjoy__img(src=require('../../svg/ico2.svg'), alt="Красивый вид")
                .enjoy__text.body1
                    | Вид на лучшие
                    | достопримечательности
                    | столицы<br>
                    | <strong>с 51 этажа</strong>
            .col-8.col-md-5.col-lg-3.offset-md-1.enjoy__item
                .enjoy__img-box
                    img.enjoy__img(src=require('../../svg/ico3.svg'), alt="Ощущение полета")
                .enjoy__text.body1
                    | Ощущение полёта
                    | и панорама<br>
                    | <strong>с углом обзора 240°</strong>
            .col-8.col-md-5.col-lg-3.offset-md-1.enjoy__item
                .enjoy__img-box
                    img.enjoy__img(src=require('../../svg/ico4.svg'), alt="Неповторимая атмосфера")
                .enjoy__text.body1
                    | Услуги команды<br>
                    | <strong>33 профессионалов</strong><br>
                    | которые создадут
                    | неповторимую атмосферу
            .col-8.col-md-5.col-lg-3.offset-md-1.enjoy__item
                .enjoy__img-box
                    img.enjoy__img(src=require('../../svg/ico5.svg'), alt="Волшебство мгновения")
                .enjoy__text.body1
                    | <strong>30 обработанных фото</strong><br>
                    | сохранят волшебство
                    | каждого мгновения<br>(30-40 фото)