section.meeting
    #skylevel
    .meeting__sky
        .container
            .row
                .col-12.col-md-11.offset-md-1
                    h2.meeting__caption Свидание на уровне неба
                    .meeting__text.body1
                        | Признаться в&nbsp;любви, сделать предложение, отметить годовщину&nbsp;&mdash;<br>
                        | <strong>для волшебных моментов нужна особая атмосфера</strong>
    .container
        .row
            .col-lg-5.meeting__shift-box._visible-lg
                .meeting__left-shift
                a(href="img/photoorig/1.jpg").link.meeting__link
                    img.meeting__left-img(src=require('../../img/photo/1.png'), alt="")
                .meeting__img-text.body1._right
                    | Роскошный вид<br>
                    | на&nbsp;город с&nbsp;51&nbsp;этажа
            .col-12._hidden-lg
                a(href="img/photoorig/1.jpg").link.meeting__img-box._first
                    .meeting__img-effect
                        img.meeting__img(src=require('../../img/photo/1.jpg'), alt="")
                    .meeting__img-text.body1
                        | Роскошный вид<br>
                        | на&nbsp;город с&nbsp;51&nbsp;этажа
            .col-12.col-lg-7
                a(href="img/photoorig/2.jpg").link.meeting__img-box._first
                    .meeting__img-effect
                        img.meeting__img(src=require('../../img/photo/2.jpg'), alt="")
                    .meeting__img-text.body1
                        | Два часа романтики<br>
                        | или целая ночь любви
                a(href="img/photoorig/3.jpg").link.meeting__img-box
                    .meeting__img-effect
                        img.meeting__img(src=require('../../img/photo/3.jpg'), alt="")
                    .meeting__img-text.body1
                        | Изящная сервировка стола<br>
                        | и&nbsp;легкие закуски
        .row
            .col-12.col-lg-4
                a(href="img/photoorig/4.jpg").link.meeting__img-box._first
                    img.meeting__img._visible-lg(src=require('../../img/photo/4.png'), alt="")
                    .meeting__img-effect._hidden-lg
                        img.meeting__img(src=require('../../img/photo/4.jpg'), alt="")
                    .meeting__img-text.body1
                        | Интимная обстановка<br>
                        | при свечах
            .col-12.col-lg-4
                a(href="img/photoorig/5.jpg").link.meeting__img-box._first
                    img.meeting__img._visible-lg(src=require('../../img/photo/5.png'), alt="")
                    .meeting__img-effect._hidden-lg
                        img.meeting__img(src=require('../../img/photo/5.jpg'), alt="")
                    .meeting__img-text.body1
                        | Декор лепестками роз
            .col-12.col-lg-4
                a(href="img/photoorig/6.jpg").link.meeting__img-box
                    img.meeting__img._visible-lg(src=require('../../img/photo/6.png'), alt="")
                    .meeting__img-effect._hidden-lg
                        img.meeting__img(src=require('../../img/photo/6.jpg'), alt="")
                    .meeting__img-text.body1
                        | Релакс под звуки<br>
                        | любимой музыки
        .row
            .col-12.col-lg-7
                a(href="img/photoorig/7.jpg").link.meeting__img-box._first
                    .meeting__img-effect
                        img.meeting__img._first(src=require('../../img/photo/7.jpg'), alt="")
                    .meeting__img-text.body1
                        | Ненавязчивый сервис
                a(href="img/photoorig/8.jpg").link.meeting__img-box._first
                    .meeting__img-effect
                        img.meeting__img(src=require('../../img/photo/8.jpg'), alt="")
                    .meeting__img-text.body1
                        | Ужин от&nbsp;шеф-повара<br>
                        | по&nbsp;желанию
            .col-lg-5.meeting__shift-box._visible-lg
                .meeting__right-shift
                a(href="img/photoorig/9.jpg").link.meeting__link
                    img.meeting__right-img(src=require('../../img/photo/9.png'), alt="")
                .meeting__img-text.body1._left
                    | Профессиональные фото
            .col-12._hidden-lg
                a(href="img/photoorig/9.jpg").link.meeting__img-box
                    .meeting__img-effect
                        img.meeting__img(src=require('../../img/photo/9.jpg'), alt="")
                    .meeting__img-text.body1
                        | Профессиональные фото
        .row
            hr.meeting__line
        .row
            .col-12
                .meeting__video-box
                    .meeting__video-img
                    button.meeting__video-btn#playvideo
                    .body0.meeting__video-text._s
                        | Посмотрите, как проходит
                        | самое романтическое
                        | свидание в&nbsp;Москве